<div ng-controller="MainCtrl">
<div class="mainContent">
 <div flex layout="row" layout-align="center center" class="mainContent">
  <div class="" style="width:40%;">
  <md-input-container class="md-block">
        <label>Search</label>
        <input class="productSearch">
      </md-input-container>
	  <center><md-button class="md-raised md-primary" ng-click="productSearch()">Search</md-button></center>
  </div>
</div>
</div>
<br><br><br>
<div ng-if="isStaff()">
    <div flex layout="row" layout-align="center center" class="mainContent">
     <div class="" style="width:60%; background: #ff8a80; border: 2px solid #000000;">
	    <div ng-repeat="x in lowstock">
	   	 <center>The {{x.name}} from {{x.supplierName}} is running low on stock! </center>
		 <center>There are {{x.stockQuantity}} left.</center>
		 <hr>
	    </div>
		<center><md-button class="md-raised md-primary" ng-click="manageItemsButton()">Manage Items</md-button></center>
	 </div>
 </div>
</div>
</div>