<div ng-controller="myCartCtrl">

	<center><h2>Products in cart-</h2></center>
	<div>
 <div ng-repeat="x in cart" ng-init="addTotalPrice(x.price,x.quantity)">
	 <center>
	 {{x.name}} - Item Amount: <b>{{x.quantity}}</b> - Price Each: <b>${{x.price}}</b> <md-button class="md-raised md-warn" ng-click="removeProduct(x.id)">Remove From Cart</md-button></center>
	 <br> 
 </div>
 <center><md-button class="md-raised md-warn" ng-click="removeAll()">Remove All From Cart</md-button></center>
</div>
<hr>
<center><h3>Total Price: ${{prices.x}}</h3></center>


<div flex layout="row" layout-align="center center" class="mainContent">
 <div class="cartBox" style="width:40%;">
 <md-input-container class="md-block">
       <label>Pay</label>
     <input class="paidInput" step="0.01" type="number" max='{{prices.x}}' ng-model="paid.value">
     </md-input-container>
	 <center><md-button class="md-raised md-primary" ng-click="alertPay()" ng-disabled="isDisabled">Pay</md-button></center>
 
 </div>
 </div>
 
 
</div>