<div ng-controller="myAccountCtrl">
<div class="mainContent">
	<center><md-button class="md-raised md-primary" ng-click="">View Purchased Orders</md-button></center>
	<Br><br>
	<div flex layout="row" layout-align="center center" class="mainContent">
	 <div class="signupBox" style="width:40%;">
	
	    <md-input-container class="md-block">
	          <label>Full Name</label>
	          <input ng-model="user.name" class="userName">
	        </md-input-container>
		    <md-input-container class="md-block">
		          <label>User Name</label>
		          <input ng-model="user.userId" class="userName" disabled>
		        </md-input-container>
		   	 <md-input-container class="md-block">
		   	       <label>Password</label>
		   	       <input type="password" ng-model="user.password" class="userPassword">
		   	     </md-input-container>
 <md-input-container class="md-block">
       <label>Address</label>
       <input ng-model="user.address" class="userAddress">
     </md-input-container>
	 <md-input-container class="md-block">
	       <label>Email</label>
	       <input ng-model="user.email" class="userEmail">
	     </md-input-container>
		  <center><md-button class="md-raised md-primary" ng-click="updateAccount()">Update Account</md-button></center>
		  <br>
		  <center><md-button class="md-raised md-warn" ng-click="showConfirm()">Delete Account</md-button></center>
</div>
</div>
</div>
</div>



	
 